<h3 class='email' data='Email'>
  <%= email %>
</h3>

<p class='organization' data='Company'>
  <%= organization %>
</p>

<div class='password'>
  <input class='current-password hidden' placeholder='Current password'></input>
  <input class='new-password hidden' placeholder='New password'></input>
  <button class='edit-password hidden'>Change password</button>
  <button class='cancel-password hidden'>Cancel password change</button>
</div>

<button class='edit-user'>Edit account</button>
