<h1 class='heading'>Welcome to Waywire Channel API</h1>

<nav>
  <ul>
    <li>
      <a href="#show" class='user-show'>
        <i class="fa fa-cog"></i> Account Details
      </a>
    </li>    

    <li>
      <a href="#apikeys" class='api-keys'>
        <i class="fa fa-lock"></i> API Keys
      </a>
    </li>
  </ul>
</nav>
