<p>Password must be between 8-20 characters, containing at least a capital letter and a number or special character.</p>

<form class='new-user'>
  <div class="error"></div>
  <input type='text' name='organization' placeholder='Organization (Optional)'>
  <input type='text' name='email' placeholder='Email'>
  <input type='password' name='password' placeholder='Password'>
  <input type='password' name='password_confirmation' placeholder='Retype password'>
  <button>Create account</button>
</form>
