<%= render 'layouts/nav' %>

<main class="user">
  <%= render 'layouts/modal' %>
  <%= render 'nav' %>

  <section class='user-show'>
    <%= render 'show' %>
  </section> 

  <section class='api-keys'>
    <%= render 'api_key' %>
  </section>

</main>

<% if current_user %>
<script type="text/javascript">
  detectSection();
  window.user_id = "<%= current_user.id %>";
  var userRouter = new RailsApi.Routers.Users();
  var apiKeyRouter = new RailsApi.Routers.ApiKeys();

  $('.user nav a').click(function(e) {
    toggleSection($(e.target));
  });
</script>
<% end %> 