<%= render 'layouts/nav' %>

<div class="welcome">
<main>
  <h2>
    <a href='#login' class='new-session'>Log in</a> or <a href="#signup" class='new-user'>sign up</a>
  </h2>

  <section class='new-user'>
    <%= render 'users/new' %>
  </section>

  <section class='new-session'>
    <%= render 'login' %>
  </section>

</main>
</div>

<script type="text/javascript">
  $('a.new-session').addClass('current');
  $('section.new-session').addClass('current');
  detectSection();
  $('.welcome a').click(function(e) {
    toggleSection($(e.target));
  });
  var userRouter = new RailsApi.Routers.Users();
  Backbone.history.start({});
</script>
