@import 'mixins';

.noscroll {
  overflow: hidden;
}

/* NOTIFY */
.notify {
  display: none;
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
  padding: 10px 0 10px 20px;
}

.notify.success {
  background-color: rgba(173,216,230, .9);
}

.notify.error {
  background-color: rgba(253,201,122, .9);
}


/* PAGINATION */
.pagination {
  a.page.current {
    color: #333;
    font-style: italic;
    &:hover {
      cursor: default;
    }
  }

  a.disabled, a.clip {
    color: #333;
    &:hover {
      cursor: default;
    }    
  }
}

/* OVERLAY */
.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1; 
  background-color: rgba(0,0,0,.4);
  display: none;
  overflow: hidden;
}

.overlay.active {
  display: block;
}

/* MODAL */
.modal {
  position: fixed;
  z-index: 2;
  top: 30%;
  left: 25%;
  width: 30em;
  height: 10em;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 1em;
  display: none;

  .fa-times {
    float: right;
    margin: -.2em -.2em 0 0; 
    @include hover-style;
  }

  .content {
    margin: .5em 0 1em 1em;
  }

  button {
    position: absolute;
    bottom: 1.5em;
    text-align: center;
    @include button-style;
    color: #fff;
    width: 4em;
  }
  .confirm {
    @include button-green;
    right: 8em;
  }
  .cancel {
    @include button-orange;
    right: 3em;
  }
}

.modal.active {
  display: block;
}


.hidden {
  display: none;
}