@import 'mixins';

main.user {
  width: 800px;
  height: 100%;
  margin: 2em auto;
  
  h1 {
    margin: 0 0 .7em 0;
  }

  // Display state
  section {
    display: none;
  }

  section.current {
    display: block;
  }
}

section.user-show, section.api-keys {
  margin: 1em 0;
  button {
    margin: .7em 0;
    @include button-green;
  }  

  button.delete-key, button.cancel {
    @include button-orange;
  }

  .password button {
    @include button-blue;
  }
}

section.user-show {
  input {
    margin: .3em 0;
    display: block;
  }

  input.hidden {
    display: none;
  }
}

section.api-keys {
  ul {
    width: 500px;
    margin: 1em auto;
  }

  li {
    margin-bottom: 1em;
    button {
      float: right;
    }
  }
}