<nav class='global'>
  <a href="/">
    <img src="http://www.waywire.com/media/site/YH5PLD0V56XPX2RS/uploads/Waywire_logo_continuem_black_clear.png" class='logo'>
  </a>

  <div class='dropdown-container'>
    
    <span>
      <% if current_user %>
      Logged in as <%= current_user.email %> 
      <% else %>
      Welcome, Guest 
      <% end %>
      <i class="fa fa-caret-down"></i>
    </span>
    
    <ul class='dropdown'>
       <% if current_user %>
      <li>
        <a href="/account">Account</a>
      </li>
      <% end %> 
      <li>
        <a href="/api">API Guide</a>
      </li>
      <li>
        <% if current_user %>
        <a href="/logout">Log out</a>
        <% else %>
        <a href="/" class='login'>Log in</a>
        <% end %>
      </li>
    </ul>

  </div>

</nav>
